HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# Spring Boot application config files (ignore only these three)
src/main/resources/application-local.yaml

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.env
out/
!**/src/main/**/out/
!**/src/test/**/out/
user-deploy.yaml
user-service.yaml

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


# 빌드 산출물 제외
*.jar

# AWS 및 비밀키 파일 제외
*.pem
*.sh